# Android Studio / Gradle
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Build outputs
/build
/captures
.externalNativeBuild
.cxx

# Windows
Thumbs.db
desktop.ini

# Custom ignores
root_ca.crt
app/src/main/res/values/strings.xml
app/src/main/res/xml/network_security_config.xml
